<div class="card page-size">
  <div class="head">
    <div class="box homeless"></div>
    <div class="flexColumn">
      <img src="assets/images/header/man.png" alt="Man" />
      <h2>Homeless</h2>
    </div>
  </div>
  <div class="body">
    <div class="progress">
      <div class="line">
        <span>1/5</span>
      </div>
    </div>
    <div class="rowSticky">
      <div class="insideSticky">
        <div class="img">
          <img src="assets/images/body/row1.png" alt="Icon" />
        </div>
        <div class="flexBetween rowBorder">
          <div class="titles">
            <h3>Test</h3>
            <div class="coins">
              <img src="assets/images/body/coin.svg" alt="Icon" />
              <span>143 500</span>
            </div>
          </div>
          <h3>1000+</h3>
        </div>
      </div>
    </div>
    <div class="scroll rows">
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row1.png" alt="Icon" />
        </div>
        <div class="flexBetween rowBorder">
          <div class="titles">
            <h3>Test</h3>
            <div class="coins">
              <img src="assets/images/body/coin.svg" alt="Icon" />
              <span>143 500</span>
            </div>
          </div>
          <h3>1</h3>
        </div>
      </div>
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row2.png" alt="Icon" />
        </div>
        <div class="flexBetween rowBorder">
          <div class="titles">
            <h3>Test</h3>
            <div class="coins">
              <img src="assets/images/body/coin.svg" alt="Icon" />
              <span>143 500</span>
            </div>
          </div>
          <h3>2</h3>
        </div>
      </div>
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row1.png" alt="Icon" />
        </div>
        <div class="flexBetween rowBorder">
          <div class="titles">
            <h3>Test</h3>
            <div class="coins">
              <img src="assets/images/body/coin.svg" alt="Icon" />
              <span>143 500</span>
            </div>
          </div>
          <h3>3</h3>
        </div>
      </div>
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row3.png" alt="Icon" />
        </div>
        <div class="flexBetween">
          <div class="titles">
            <h3>Test</h3>
            <div class="coins">
              <img src="assets/images/body/coin.svg" alt="Icon" />
              <span>143 500</span>
            </div>
          </div>
          <h3>4</h3>
        </div>
      </div>
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row3.png" alt="Icon" />
        </div>
        <div class="flexBetween">
          <div class="titles"></div>
          <h3>5</h3>
        </div>
      </div>
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row3.png" alt="Icon" />
        </div>
        <div class="flexBetween">
          <div class="titles"></div>
          <h3>6</h3>
        </div>
      </div>
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row1.png" alt="Icon" />
        </div>
        <div class="flexBetween">
          <div class="titles">
            <h3>Test</h3>
            <div class="coins">
              <img src="assets/images/body/coin.svg" alt="Icon" />
              <span>143 500</span>
            </div>
          </div>
          <h3>1000+</h3>
        </div>
      </div>
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row1.png" alt="Icon" />
        </div>
        <div class="flexBetween rowBorder">
          <div class="titles">
            <h3>Test</h3>
            <div class="coins">
              <img src="assets/images/body/coin.svg" alt="Icon" />
              <span>143 500</span>
            </div>
          </div>
          <h3>1000+</h3>
        </div>
      </div>
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row1.png" alt="Icon" />
        </div>
        <div class="flexBetween rowBorder">
          <div class="titles">
            <h3>Test</h3>
            <div class="coins">
              <img src="assets/images/body/coin.svg" alt="Icon" />
              <span>143 500</span>
            </div>
          </div>
          <h3>1000+</h3>
        </div>
      </div>
      <div class="row">
        <div class="img">
          <img src="assets/images/body/row1.png" alt="Icon" />
        </div>
        <div class="flexBetween rowBorder">
          <div class="titles">
            <h3>Test</h3>
            <div class="coins">
              <img src="assets/images/body/coin.svg" alt="Icon" />
              <span>143 500</span>
            </div>
          </div>
          <h3>1000+</h3>
        </div>
      </div>
    </div>
  </div>
</div>
