<section class="page-size bg-[#26272C] text-white">
  <div class="flex justify-center ml-4 mr-2 relative ignore-click-outside">
    <img (click)="drawerOpen = true" src="assets/bonus.png" alt="Bonus" />
    <img
      src="assets/icons/info.svg"
      alt="Info"
      class="absolute top-8 left-3 h-6"
    />
  </div>

  <h2 class="text-[30px] font-bold text-white text-center">Invite Friends</h2>
  <p class="text-white text-center font-[300]">
    You and your friend will receive bonuses
  </p>

  <div class="flex justify-center gap-4 mt-4">
    <button class="flex border-toxic px-8 py-1 items-center gap-2">
      <span>Invite a Friend</span>
      <img src="assets/icons/person.svg" alt="Person" class="h-[20px]" />
    </button>

    <button class="flex border-toxic p-3 items-center gap-2">
      <img src="assets/icons/copy.svg" alt="Person" class="h-[20px]" />
    </button>
  </div>

  <div class="flex flex-col gap-3 mt-6 mx-4">
    <div class="flex border-toxic px-1 py-2 gap-[18px] items-center h-[80px]">
      <img src="assets/gift.png" alt="Gift" class="h-[80px]" />

      <div class="flex flex-col justify-between gap-3">
        <span class="font-semibold text-[20px] ml-2">Invite a Friend</span>
        <div class="flex items-center">
          <div class="flex items-center mr-1">
            <img src="assets/icons/coin.svg" alt="Coin" class="h-8" />
            5
          </div>
          <span> for you and your friend</span>
        </div>
      </div>
    </div>

    <div
      class="flex border-toxic px-1 py-2 gap-1 items-center h-[80px] relative"
    >
      <img
        src="assets/star.png"
        alt="Gift"
        class="h-6 absolute left-[-5px] top-[-10px]"
      />
      <img src="assets/gifts.png" alt="Gift" class="h-[80px]" />

      <div class="flex flex-col justify-between gap-3">
        <span class="font-semibold text-[20px] ml-2">Invite a Friend</span>
        <div class="flex items-center">
          <div class="flex items-center mr-1">
            <img src="assets/icons/coin.svg" alt="Coin" class="h-8" />
            10
          </div>
          <span> for you and your friend</span>
        </div>
      </div>
    </div>
  </div>

  <p class="text-[20px] text-center mt-6 font-[300]">Referrals (126)</p>

  <div
    class="bg-[#3F4248] rounded-[16px] flex items-center h-[64px] mt-2 mx-4 mb-12"
  >
    <img
      src="assets/circle-person.png"
      alt="Person in circle"
      class="h-[64px]"
    />
  </div>
</section>

<app-drawer
  [isOpen]="drawerOpen"
  (onClose)="drawerOpen = false"
  height="500px"
  padding="10px"
  margin="20px 0 0 0"
  ignoreClickOutsideClass="ignore-click-outside"
>
  <div class="flex flex-col items-center">
    <span class="text-white font-semibold text-[30px] text-center"
      >Bonus for Leveling Up</span
    >
    <span class="text-[#707276] text-[12px] text-center max-w-[270px]"
      >When your friends level up, you will receive a bonus</span
    >
  </div>

  <div class="flex px-4 py-2 text-white mt-4 text-[14px]">
    <div class="flex-1 ml-4">Level</div>
    <div class="w-[80px] pl-[16px]">Regular</div>
    <div class="w-[80px] pl-[16px]">Premium</div>
  </div>

  <div class="flex flex-col gap-2 text-white text-[14px] font-semibold">
    <div class="bg-[#3F4248] flex rounded-[12px] px-4 py-3">
      <div class="flex-1 flex items-center">Homeless</div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>10</span>
      </div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>15</span>
      </div>
    </div>

    <!--  -->
    <div class="bg-[#3F4248] flex rounded-[12px] px-4 py-3">
      <div class="flex-1 flex items-center">Beginner</div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>15</span>
      </div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>20</span>
      </div>
    </div>

    <!--  -->
    <div class="bg-[#3F4248] flex rounded-[12px] px-4 py-3">
      <div class="flex-1 flex items-center">Student</div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>25</span>
      </div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>30</span>
      </div>
    </div>

    <!--  -->
    <div class="bg-[#3F4248] flex rounded-[12px] px-4 py-3">
      <div class="flex-1 flex items-center">Workman</div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>50</span>
      </div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>70</span>
      </div>
    </div>

    <!--  -->
    <div class="bg-[#3F4248] flex rounded-[12px] px-4 py-3">
      <div class="flex-1 flex items-center">Businessman</div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>100</span>
      </div>
      <div class="w-[80px] flex gap-2">
        <img src="assets/icons/coin.svg" alt="coin" class="h-6" />
        <span>150</span>
      </div>
    </div>
  </div>
</app-drawer>
