<div
  class="header-block z-[1000] flex mx-6 h-[60px] mt-[20px] rounded-xl border-main-theme border shadow-block text-white"
>
  <div class="flex items-center gap-2 min-w-[110px] w-1/4 max-w-[200px]">
    <img src="assets/test.png" class="h-10" />
    <span class="text-xs font-medium">Test</span>
  </div>

  <div class="flex flex-row flex-1 items-center" routerLink="/lead">
    <div class="vertical-divider w-[1px] h-[68%]"></div>
    <!-- center -->
    <div class="flex flex-col w-2/4 flex-1 items-center justify-center mx-2">
      <img src="assets/kubok.png" class="h-7" />
      <div class="progress-bar-container">
        <div class="progress-bar text-[8px] pl-1 flex items-center">1/5</div>
      </div>
    </div>

    <div class="vertical-divider w-[1px] h-[68%]"></div>
  </div>

  <div
    class="flex flex-col w-1/4 min-w-[110px] max-w-[200px] items-center justify-center"
  >
    <span class="text-xs">Profit per Hour</span>
    <div class="flex flex-row items-center w-[70%]">
      <img src="assets/icons/coin.svg" class="h-6" />
      <span class="text-xs font-semibold"> +126,6</span>
    </div>
  </div>
</div>

<div class="flex justify-between mt-6 relative">
  <div
    (click)="onClickViral($event)"
    class="h-[60px] w-[60px] header-block shadow-block leftSideButton flex justify-center items-center"
  >
    <img src="assets/car.png" alt="Car" class="h-[40px]" />
  </div>
  <div
    (click)="onClickViral($event)"
    class="h-[60px] w-[60px] header-block shadow-block rightSideButton flex justify-center items-center"
  >
    <img src="assets/settings.png" alt="Car" class="h-[36px]" />
  </div>

  <!-- BALANCE -->
  <div class="absolute-center flex gap-1 items-center">
    <img src="assets/icons/coin.svg" alt="Coin" class="h-[30px] mt-[3px]" />
    <span class="text-white text-shadow-letter-bold font-medium text-[27px] whitespace-nowrap">120 223 354</span>
  </div>
</div>

<div class="background-image">
  <img
    src="assets/man.png"
    alt="man"
    class="scale-[0.7] absolute bottom-[16px]"
  />

  <div class="absolute-x-center bottom-[140px]">
    <div
      class="header-block flex h-[40px] w-[200px] mt-[20px] rounded-xl border-main-theme border shadow-block text-white z-20"
    >
      <div
        class="header-block flex items-center justify-between p-4 h-full w-[150px] rounded-xl border-main-theme border text-white z-20"
      >
        <span class="text-[12px] font-semibold">1h 11m</span>

        <div class="flex gap-1 items-center">
          <img src="assets/icons/coin.svg" alt="Coin" class="h-[20px]" />
          <span class="text-white font-medium text-[14px]">8,537</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-drawer [isOpen]="true" height="280px">
  <div class="money-block">
    <img src="assets/money.png" alt="Money" class="money-png" />

    <span class="text-white font-semibold text-[26px] text-center">4,128</span>
  </div>

  <button class="custom-btn mt-6">Claim</button>
</app-drawer>
