<div class="background-image">
  <img
    src="assets/man.png"
    alt="man"
    class="scale-[0.7] absolute bottom-[16px]"
  />

  <div
    class="header-block flex mx-6 h-[80px] mt-[20px] rounded-xl border-main-theme border shadow-block text-white"
  >
    <div class="flex items-center gap-2 w-1/4 max-w-[200px]">
      <img src="assets/test.png" class="h-10" />
      <span class="text-xs font-medium">Test</span>
    </div>

    <div class="flex flex-row flex-1">
      <div class="vertical-divider w-[1px] h-full"></div>
      <!-- center -->
      <div class="flex flex-col w-2/4 flex-1 items-center justify-center mx-2">
        <img src="assets/kubok.png" class="h-10 w-10" />
        <div class="progress-bar-container">
          <div class="progress-bar"></div>
        </div>
      </div>

      <div class="vertical-divider w-[1px] h-full"></div>
    </div>

    <div class="flex flex-col w-1/4 max-w-[200px] items-center justify-center">
      <span class="text-xs">Profit per Hour</span>
      <div class="flex flex-row items-center w-[70%]">
        <img src="assets/icons/coin.svg" class="h-6" />
        <span class="text-xs font-semibold"> +126,5</span>
      </div>
    </div>
  </div>
</div>
