<section class="page-size bg-[#26272C] text-white pt-8">
  <div
    class="bg-[#ECB829] flex rounded-[8px] gap-4 px-4 py-2 items-center mx-4"
  >
    <img src="assets/much-money.png" alt="Much money" class="h-[60px]" />
    <div class="flex flex-col flex-1">
      <span class="text-[20px] font-[500]">Daily reward</span>

      <div class="flex flex-col text-[12px]">
        <span>Can be claim in</span>
        <span>23:45:34</span>
      </div>
    </div>

    <img
      src="assets/icons/arrow-right.svg"
      alt="Arrow right icon"
      class="h-6"
    />
  </div>

  <div class="flex justify-center mt-6">
    <div class="flex flex-col w-[300px]">
      <div class="flex justify-around">
        <button class="font-semibold">Gaming</button>
        <button class="text-[#5C5E64] font-semibold">Partners</button>
      </div>

      <div class="mt-2 w-full h-[1px] bg-[#FFFFFF80] opacity-[0.5]"></div>
    </div>
  </div>

  <p class="mt-4 ml-4 mb-4">Daily</p>

  <div class="flex flex-col mx-4 gap-2">
    <div class="flex border-b border-[#FFFFFF80] p-2 gap-4 items-center">
      <img
        src="assets/icons/flash-card.svg"
        alt="Flash card icon"
        class="h-10"
      />

      <div class="flex flex-col flex-1">
        <span class="font-medium text-[16px]">Improve the map 2 times</span>

        <div class="flex gap-1 items-center">
          <img src="assets/icons/coin.svg" alt="Coin icon" class="h-6" />
          <span>50</span>
        </div>
      </div>

      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow right icon"
        class="h-6"
      />
    </div>

    <div class="flex border-b border-[#FFFFFF80] p-2 gap-4 items-center">
      <img src="assets/icons/click-me.svg" alt="Flash card icon" class="h-10" />

      <div class="flex flex-col flex-1">
        <span class="font-medium text-[16px]">Claim 1 time</span>

        <div class="flex gap-1 items-center">
          <img src="assets/icons/coin.svg" alt="Coin icon" class="h-6" />
          <span>50</span>
        </div>
      </div>

      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow right icon"
        class="h-6"
      />
    </div>
  </div>

  <p class="mt-6 ml-4 mb-4">Quests</p>

  <div class="flex flex-col mx-4 gap-2 mb-20">
    <div class="flex border-b border-[#FFFFFF80] p-2 gap-4 items-center">
      <img src="assets/icons/tg.svg" alt="Flash card icon" class="h-10" />

      <div class="flex flex-col flex-1">
        <span class="font-medium text-[16px]">Join our TG channel</span>

        <div class="flex gap-1 items-center">
          <img src="assets/icons/coin.svg" alt="Coin icon" class="h-6" />
          <span>50</span>
        </div>
      </div>

      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow right icon"
        class="h-6"
      />
    </div>

    <div class="flex border-b border-[#FFFFFF80] p-2 gap-4 items-center">
      <img src="assets/icons/inst.svg" alt="Flash card icon" class="h-10" />

      <div class="flex flex-col flex-1">
        <span class="font-medium text-[16px]">Follow our account</span>

        <div class="flex gap-1 items-center">
          <img src="assets/icons/coin.svg" alt="Coin icon" class="h-6" />
          <span>50</span>
        </div>
      </div>

      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow right icon"
        class="h-6"
      />
    </div>

    <div class="flex border-b border-[#FFFFFF80] p-2 gap-4 items-center">
      <img src="assets/icons/youtube.svg" alt="Flash card icon" class="h-10" />

      <div class="flex flex-col flex-1">
        <span class="font-medium text-[16px]"
          >Subscribe our Yotube channel</span
        >

        <div class="flex gap-1 items-center">
          <img src="assets/icons/coin.svg" alt="Coin icon" class="h-6" />
          <span>50</span>
        </div>
      </div>

      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow right icon"
        class="h-6"
      />
    </div>
  </div>
</section>
