<div class="nav-background-color page-size">
  <section class="font-sans text-white flex flex-col">
    <div class="p-4">
      <div class="tab-container">
        <div
          class="tab-background"
          [ngStyle]="{ left: getBackgroundPosition() }"
        ></div>
        <button
          *ngFor="let tab of tabs; let i = index"
          [class]="getActiveTabClass(tab)"
          (click)="activeTab = tab; activeIndex = i"
        >
          {{ tab }}
        </button>
      </div>

      @if (activeTab === 'Personal') {

      <h2 class="text-xl mb-4">Body</h2>
      <div class="flex flex-col gap-2">
        <app-card *ngFor="let item of bodyItems" [item]="item"></app-card>
      </div>

      <h2 class="text-xl mb-4 mt-6">Skills</h2>
      <div class="flex flex-col gap-2">
        <app-card *ngFor="let item of skillItems" [item]="item"></app-card>
      </div>
      } @if (activeTab === 'Work') {
      <h2 class="text-xl mb-4">Beginner</h2>
      <div class="flex flex-col gap-2">
        <app-card
          *ngFor="let item of bodyItems"
          [item]="item"
          mode="additional"
        ></app-card>
      </div>

      <h2 class="text-xl mb-4 mt-6">Student</h2>
      <div class="flex flex-col gap-2">
        <app-card
          *ngFor="let item of skillItems"
          [item]="item"
          mode="additional"
        ></app-card>
      </div>
      } @if (activeTab === 'Realty') {
      <h2 class="text-xl mb-4">Estate</h2>
      <div class="flex flex-col gap-2">
        <app-card
          *ngFor="let item of bodyItems"
          [item]="item"
          mode="additional"
        ></app-card>
      </div>

      <h2 class="text-xl mb-4 mt-6">Profit</h2>
      <div class="flex flex-col gap-2">
        <app-card
          *ngFor="let item of skillItems"
          [item]="item"
          [isUnActive]=true
          mode="additional"
        ></app-card>
      </div>
      }
    </div>
  </section>
</div>
