<div class="nav-background-color page-size">
  <section class="font-sans text-white flex flex-col">
    <div class="p-4">
      <div class="tab-container">
        <div
          class="tab-background"
          [ngStyle]="{ left: getBackgroundPosition() }"
        ></div>
        <button
          *ngFor="let tab of tabs; let i = index"
          [class]="getActiveTabClass(tab)"
          (click)="activeTab = tab; activeIndex = i"
        >
          {{ tab }}
        </button>
      </div>

      @if (activeTab === 'Personal') {

      <h2 class="text-sm mb-2">Body</h2>
      <div class="flex flex-col gap-2 mb-6">
        <app-card *ngFor="let item of bodyItems" [item]="item"></app-card>
      </div>

      <h2 class="text-sm mb-2">Skills</h2>
      <div class="flex flex-col gap-2 mb-6">
        <app-card *ngFor="let item of skillItems" [item]="item"></app-card>
      </div>

      <h2 class="text-sm mb-2">Management</h2>
      <div class="flex flex-col gap-2">
        <app-card *ngFor="let item of bodyItems" [item]="item"></app-card>
      </div>
      } @if (activeTab === 'Work') {
      <h2 class="text-sm mb-2">Beginner</h2>
      <div class="flex flex-col gap-2 mb-6">
        <app-card
          *ngFor="let item of bodyItems"
          [item]="item"
          mode="additional"
        ></app-card>
      </div>

      <h2 class="text-sm mb-2">Student</h2>
      <div class="flex flex-col gap-2 mb-6">
        <app-card
          *ngFor="let item of skillItems"
          [item]="item"
          mode="additional"
        ></app-card>
      </div>
      <h2 class="text-sm mb-2">Worker</h2>
      <div class="flex flex-col gap-2 mb-6">
        <app-card
          *ngFor="let item of skillItems"
          [item]="item"
          mode="additional"
        ></app-card>
      </div>
      <h2 class="text-sm mb-2">Businessman</h2>
      <div class="flex flex-col gap-2 mb-6">
        <app-card
          *ngFor="let item of skillItems"
          [item]="item"
          mode="additional"
        ></app-card>
      </div>
      } @if (activeTab === 'Realty') {
      <h2 class="text-sm mb-2">Estate</h2>
      <div class="flex flex-col gap-2 mb-6">
        <app-card
          *ngFor="let item of bodyItems"
          [item]="item"
          mode="additional"
        ></app-card>
      </div>

      <h2 class="text-sm mb-2">Profit</h2>
      <div class="flex flex-col gap-2 mb-6">
        <app-card
          *ngFor="let item of skillItems"
          [item]="item"
          [isUnActive]=true
          mode="additional"
        ></app-card>
      </div>
      <h2 class="text-sm mb-2">Digital assets</h2>
      <div class="flex flex-col gap-2">
        <app-card
          *ngFor="let item of skillItems"
          [item]="item"
          mode="additional"
        ></app-card>
      </div>
      }
    </div>
  </section>
</div>
